paths:
  static: ''
  uploads: uploads
timezone: America/Los_Angeles
markdown:
  engine: kramdown
  options:
    heading_ids: true
    gfm: true
    breaks: false
    quotes: ‘’“”
    typographer: true
    attributes: true
    attribute_elements:
      inline: right
      block: below
      tr: none
      td: none
      li: right-of-prefix
    treat_indentation_as_code: true
_snippets_imports:
  jekyll: true
